* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    min-width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50%;
    padding: 2% 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
}

.header h1 {
    font-size: 3.5em;
    font-weight: 500;
}

#add-note-btn {
    text-align: center;
    border: none;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 3em;
    min-width: 75px;
    min-height: 75px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#add-note-btn:hover {
    background-color: rgb(66, 66, 66);
}

.note-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 3%;
}

.new-note, .edited-note {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    padding: 2%;
    width: 23%;
    min-height: 250px;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.new-note:hover {
    filter: brightness(1.2);
}

.edited-note:hover {
    filter: brightness(1.2);
}

.new-note h3 {
    font-size: 1.5em;
    margin-bottom: 2%;
}

.new-note p {
    height: 100%;
}

.new-note-active, .edited-note-active {
    transform: translate(-50%, -50%) scale(3);
}

.note-container .note {
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 23%;
    min-height: 250px;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.note-container .note:hover {
    filter: brightness(1.2);
}

.note h3 {
    font-size: 1.5em;
    margin-bottom: 2%;
}

.note p {
    height: 100%;
}

.note #note-icons {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 35px;
    gap: 5px;
}

#note-icons button {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: black;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
}

#note-icons button:hover {
    background-color: rgb(82, 82, 82);
}

button > i {
    position: absolute;
    left: 0px;
    top: 8px;
    color: white;
    width: 100%;
    height: 100%;
}

.add-pop-up {
    z-index: 10;
    display: block;
    position: fixed;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding-top: 20px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    min-width: 550px;
    width: 25%;
    min-height: 550px;
    height: 50%;
    border: none;
    transition: 0.3s ease-in-out;
}

.add-pop-up-active {
    transform: translate(-50%, -50%) scale(1);
}

.exit-button-layer {
    display: flex;
    justify-content: end;
    align-items:start;
    width: 100%;
}

.exit-button-layer #exit-button {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    background-color: black;
    color: white;
    font-size: 1.5em;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    transition: 0.3s ease;
}

#exit-button:hover {
    background-color: rgb(66, 66, 66);
}

.add-pop-up h2 {
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 20px;
}

.add-pop-up .form {
    padding: 0 20px 0 20px;
}

.add-pop-up .input-container {
    display: flex;
    margin-bottom: 20px;
    text-align: end;
    gap: 15px;
    max-height: 60%;
}

.input-container > label {
    font-size: 1.5em;
    min-width: 100px;
    text-align: right;
}

.input-container textarea {
    padding: 5px 10px;
}

.input-container .input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.562);
    border-radius: 10px;
    padding-left: 10px;
    font-size: 1em;
    font-weight: 400;
}

.input-container .input:focus {
    outline: none;
    border-color: rgb(41, 73, 255);
}

.color-palette {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.color-palette .color-swatch {
    display: none;
    width: 0;
    height: 0;
}

.color-swatch:checked + label {
    border: 2px solid rgb(41, 73, 255);
}

.color-palette label {
    cursor: pointer;
    display: inline-block;
    width: 15%;
    height: 100%;
    padding: 3px;
    border: 1px solid black;
}

.color-fill {
    width: 100%;
    height: 100%;
}

.form button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    width: 50%;
    height: 40px;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s ease;
}

.form button:hover {
    background-color: rgb(66, 66, 66);
    font-size: 1.1em;
}

.overlay {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.empty-value {
    border-color: red !important;
}